@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@0;1&family=Lato:wght@700&family=Lora:wght@600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }

  body {
    width: 100vw;
    height: 100vh;
    font-family: 'Arimo', sans-serif;
    color: #545454;
    font-weight: 300;
  }

/* RE-USABLE STUFF */

  h1, h2, h3 {
    font-family: 'Lora', serif;
    text-transform: uppercase;
    color: #545454;
}

/* HEADER */

  header{
    background-color: #f8f9e9;
    position: sticky;
    top: 0;
  }

  li{
    list-style: none;
    
  }

  a{
    color: white;
    text-decoration: none;
    color: #545454;
    font-size: 1.5rem;
  }

  .container{
    max-width: 122.4rem;
    width: 90%;
    margin: 0 auto;
  }

  .navbar{
    min-height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-branding{
    font-size: 2rem;
  }

  .nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
  }

  .nav-link{
    transition: 0.3s ease-out;
  }

  .nav-link:hover{
    color: dodgerblue;
  }

  .hamburger{
    display: none;
    cursor: pointer;
  }

  .bar{
    display: block;
    width: 2.5rem;
    height: .3rem;
    margin: .5rem auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
  }

/*  */

#hero {
    margin-top: 7rem;
}

.hero-image {
    height: 70rem;

}

/* FORM */

form {
  max-width: 40rem;
  margin: 0 auto;
}

label, input {
  display: block;
  margin-bottom: 1rem;
}

input[type="submit"] {
  margin-top: 2rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
}

/* MEDIA QUERIES*/

  @media(max-width:1024px){
    .hamburger{
      display: block;
    } .hamburger.active .bar:nth-child(2){
      opacity: 0;
    } .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    } .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    } .nav-menu{
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color: #262626;
      width: 100%;
      text-align: center;
      transition: 0.3s;
    } .nav-item{
      margin: 16px 0;
    } .nav-menu.active{
      left: 0;
    }
  }

  @media (max-width: 600px) {
    form {
      max-width: 100%;
      padding: 0 2rem;
    }
  
    label, input {
      width: 100%;
    }
  
    input[type="submit"] {
      margin-top: 1rem;
    }
  }