@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@0;1&family=Lato:wght@700&family=Lora:wght@600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }

  body {
    width: 100vw;
    height: 100vh;
    font-family: 'Arimo', sans-serif;
    color: #545454;
    font-weight: 300;
    background-color: #f8f9e9;
  }

/* RE-USABLE STUFF */

  h1, h2, h3 {
    font-family: 'Lora', serif;
    text-transform: uppercase;
    color: #545454;
}

/* HEADER SECTION */

  header{
    background-color: #f8f9e9;
    position: sticky;
    top: 0;
  }

  li{
    list-style: none;
    
  }

  a{
    text-decoration: none;
    color: #3A6B35;
    font-size: 1.5rem;
  }

  .container{
    max-width: 122.4rem;
    width: 90%;
    margin: 0 auto;
  }

  .navbar{
    min-height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-branding{
    font-size: 2rem;
    color: #3A6B35;
  }

  .nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
  }

  .nav-menu {
    background-color: #f8f9e9;
  }

  .nav-link{
    transition: 0.3s ease-out;
  }

  .nav-link:hover{
    color: dodgerblue;
  }

  .hamburger{
    display: none;
    cursor: pointer;
  }

  .bar{
    display: block;
    width: 2.5rem;
    height: .3rem;
    margin: .5rem auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #3A6B35;
  }

/* HERO SECTION */

#hero {
    margin-top: 7rem;
}

.hero-image {
  height: 50rem;
  margin-left: 20%;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-cont {
  position: relative;
}

.quote-text {
  grid-column: 1 / span 2;
  font-size: 1.5rem;
}

.quote-text h3:before { 
  content: open-quote;
  font-weight: bold;
  font-size: 10rem;
  color:#000;
} 
.quote-text span:before { 
  content: close-quote;
  font-weight: bold;
  font-size: 10rem;
  color:#000;

}

.quote-text span {
  font-size: 1.3rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.hero-text h3 {
  font-size: 3rem;
}

.hero-text h1 {
  font-size: 2.5rem;
}

.hero-text p {
  font-size: 2rem;
  max-width: 70%;
}

/* ABOUT ME SECTION */

#ueber-mich {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.ueber-mich-texte {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.ueber-mich-texte p {
  margin: 0 auto;
  font-size: 1.8rem;
}

.text-a {
  grid-column: 2 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-b {
  grid-column: 3 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-c {
  grid-column: 2 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-d {
  grid-column: 3 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orig-details p{
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

.academics {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ausbildung h3 {
  margin-bottom: 2rem;
}
.ausbildung ul li{
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

/* PAARBERTUNG SECTION */

img {
  max-width: 40%;
}

#beratung {
  display: flex;
  justify-content: center;
}



/* FORM */

form {
  max-width: 40rem;
  margin: 0 auto;
}

label, input {
  display: block;
  margin-bottom: 1rem;
}

input[type="submit"] {
  margin-top: 2rem;
  background-color: #3A6B35;
  color: white;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
}

/* ABOUT ME */



/* MEDIA QUERIES*/

  @media(max-width:1024px){
    .hamburger{
      display: block;
    } .hamburger.active .bar:nth-child(2){
      opacity: 0;
    } .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    } .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    } .nav-menu{
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color: #262626;
      width: 100%;
      text-align: center;
      transition: 0.3s;
    } .nav-item{
      margin: 16px 0;
    } .nav-menu.active{
      left: 0;
    }
  }

  @media (max-width: 600px) {
    form {
      max-width: 100%;
      padding: 0 2rem;
    }
  
    label, input {
      width: 100%;
    }
  
    input[type="submit"] {
      margin-top: 1rem;
    }
  }